<table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Train No.</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Travel Date</th>
        <th scope="col">Booking date</th>
        <th scope="col">From city</th>
        <th scope="col">To City</th>
        <th scope="col">Total Fare</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>489</td>
        <td>FR-17247</td>
        <td>Preethi</td>
        <td>9876092431</td>
        <td>2023-07-16</td>
        <td>2023 Jul 10 12:45 PM</td>
        <td>vizag</td>
        <td>Hyderabad</td>
        <td>2500</td>
        <td><button type="button" class="btn btn-danger">cancel</button><button type="button" class="btn btn-success">accept</button></td>
      </tr>
      <tr>
        <td>587</td>
        <td>AC-19086</td>
        <td>Sanjay</td>
        <td>8214624586</td>
        <td>2023-09-23</td>
        <td>2023 sep 20 2:30 PM</td>
        <td>Chennai</td>
        <td>Karimnagar</td>
        <td>1950</td>
        <td><button type="button" class="btn btn-danger">cancel</button><button type="button" class="btn btn-success">accept</button></td>

      </tr>
      
    </tbody>
  </table>