<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>
  
  <div class="header">
      <div class="logo-and-name">
       
         <img src="./assets/images/railicon.png"  alt="Train Logo" class="logo">
        
        <h3>Train Ticket Booking</h3>
      </div>
      <div class="user-actions">
       <a class="nav-link" routerLink="/">Home</a>
             <a class="nav-link" routerLink="/services">Services</a>
            <a class="nav-link" routerLink="/" >Logout</a>
      </div>
  </div>

<div class="container" style="text-align: center;margin-top: 0.1%;">

    <div>
        <label for="numberSelector">Select Number of Passangers (1-6):</label>
        <input type="number" id="numberSelector" [(ngModel)]="selectedNumber" (ngModelChange)="onNumberChange()" min="1" max="6" />
        <div *ngIf="isInvalidNumber()" style="color: red;">Please enter a number between 1 and 6.</div>
    </div>
      
      <div *ngIf="selectedNumber > 0">
        <h5>Enter Passangers Details:</h5>
        <div *ngFor="let card of cards; let i = index" class="card">
        <div>
          <label for="name{{ i }}">Name:</label>
          <input id="name{{ i }}" [(ngModel)]="card.name" />
          <div *ngIf="!isNameValid(card)">
            <span style="color: rgb(228, 92, 92);">Please enter a valid Name.</span>
          </div>
        </div>
        <label for="age{{ i }}">Age:</label>
        <input id="age{{ i }}" [(ngModel)]="card.age" />
            <p></p>
          <div>
              <label for="gender{{ i }}">Gender:</label>
              <select id="gender{{ i }}" [(ngModel)]="card.gender">
                <option value="" disabled>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <div *ngIf="!card.gender">
                <span style="color: rgb(228, 92, 92);">Please select a gender.</span>
              </div>
            </div>
            <p></p>
            <div>
                <label for="phone{{ i }}">Phone:</label>
                <input
                  id="phone{{ i }}"
                  type="text"
                  [(ngModel)]="card.phone"
                  (input)="validatePhone(card)"
                  pattern="[0-9]*"
                />
                <div *ngIf="!isPhoneValid(card)">
                  <span style="color: rgb(228, 92, 92);">Please enter a valid 10-digit Indian phone number.</span>
                </div>
              </div>
            <p></p>
            <button (click)="submitCard(card)">Submit</button>

            <div *ngIf="isCardDataEmpty(card)" style="text-align: center;margin-top: 10%;">
              <span style="color: rgb(246, 6, 6);">* &nbsp;Empty data not accepted.</span>
            </div>
            <div style="margin-top: 2px; font-weight: bold;">
              ------------------------------------------
            </div>
          <hr />
        </div>
      </div>
    
  </div>
