<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<div class="header">
  <div class="logo-and-name">
    <img src="./assets/images/railicon.png" alt="Train Logo" class="logo">
    <h3>Train Ticket Booking</h3>
  </div>
  <div class="user-actions">
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" routerLink="/icons">Dashboard</a>
    <a class="nav-link" (click)="logout()">Logout</a>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>S.no.</th>
      <th>Booking Number</th>
      <th>Train Number</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Departure</th>
      <th>Status</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings ; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ booking.bookingId }}</td>
      <td>{{ booking.trainDetails.trainNumber }}</td>
      <td>{{ booking.trainDetails.source }}</td>
      <td>{{ booking.trainDetails.destination }}</td>
      <td>{{ booking.trainDetails.date }} | {{ booking.trainDetails.departure }}</td>
      <td>{{ booking.status }}</td>
      <td><button type="button" class="btn btn-danger" (click)="onCancel(booking)">Cancel</button></td>
  </tbody>

</table>