<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<div class="header">
  <div class="logo-and-name">
    <a href="#">
      <img src="./assets/images/railicon.png" alt="Train Logo" class="logo">
    </a>
    <h3>Train Ticket Booking</h3>
  </div>
  <div class="user-actions">
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" routerLink="/my-bookings">My bookings</a>
    <a class="nav-link" (click)="logout">Logout</a>
  </div>
</div>
<body>
  <section class="banner" id="top">
    <div class="container">

      <div id="search-form">
        <h3>Search your Train</h3>
        <br>
        <div class="train" id="trainbox">
          <div id="train-depart">
            <div class="forms">
              <div class=" info-box ">
                <label for=" ">Source</label>
                <select id="source" [(ngModel)]="selectedSource" name="selectedSource" (change)="onSourceChange()">
                  <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                </select>

              </div>

              <div class="info-box " id="arrive-box ">
                <label for=" ">Destination</label>
                <select id="destination" [(ngModel)]="selectedDestination" name="selectedDestination">
                  <option *ngFor="let city of destinationOptions" [value]="city">{{ city }}</option>
                </select>


              </div>
              <div class=" info-box ">
                <label for=" ">Classes</label>
                <select id="class" [(ngModel)]="selectedClass" name="selectedClass">
                  <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
                </select>

              </div>
              <div class=" info-box ">
                <label for=" ">Quota</label>
                <select id="quota" [(ngModel)]="selectedQuota" name="selectedQuota">
                  <option *ngFor="let quota of quotas" [value]="quota">{{ quota }}</option>
                </select>

              </div>
            </div>
          </div>
          <br>
          <div id="train-dates ">
            <div class="info-box ">
              <label>
                Departure date
              </label>
              <input type="date" id="leave-date" class="form-control" [(ngModel)]="selectedDate" name="selectedDate"
                [min]="today" />

            </div>
          </div>
          <br>


          <!-- SEARCH BUTTON -->
          <div id="train-search ">
            <div>
              <button (click)="onSubmit()" [disabled]="!selectedSource || !selectedDestination || !selectedDate"
                type="submit " class="btn " id="btn1">Search Trains</button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="customCard">
    <div *ngFor="let train of trains">
          <div class="card" style="width: 25rem;">
            <div class="card-header" style="background-color:rgb(158, 193, 194);">
              <h3>{{ train.trainName }} ({{ train.trainNumber }})</h3>
            </div>
            <div class="card-body">
              <h5 class="details">{{ train.source }} -> {{ train.destination }}</h5>
              <h6 class="arrival-time">Arrival time: {{ train.arrival }}</h6>
              <h6 class="departure-time">Departure time: {{ train.departure }}</h6>
              <h6 class="card-title">Travel Date: {{ train.date }}</h6>
              <h6 class="price" style="font-weight:bold ;">Ticket Price: {{ train.price }}</h6>
              <a (click)="onBookNow(train.trainId)"  class="btn btn-primary" style="margin-left:2px">Book now</a>
            </div>
          </div>
    </div>
  </div>
</body>